@charset "UTF-8";

.main {
	padding: em(50);
}

.layout {
	display: flex;
	align-items: stretch;
	
	&-nav {
		border-radius: 1em;
		padding: em(20) em(28);
		background-color: #fff;
		flex: 0 0 260px;
		width: 260px;
	}
	
	&-contents {
		flex: 1 1 auto;
		width: 1%;
		max-width: 1380px;
		border-radius: 1em;
		padding: em(20) em(48) em(48);
		background-color: #fff;
		margin-left: em(48);
		margin-right: em(132);
	}
}

.form-box {
	padding-top: em(32);
	padding-bottom: em(32);
	
	& + .form-box {
		border-top: 1px solid #e9e9e9;
	}
}

/* 가이드 박스 */
.guide-box {
	border-radius: 1rem;
	padding: em(28);
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}
