<? include "../include/head.html" ?>
<!DOCTYPE html>
<html lang="ko">
  <head>
    <?
			$P_dp1 = '';
			$P_dp2 = '';
			$P_dp3 = '';
			include "../include/meta.html"
    ?>

    <style>.main {overflow: auto;}.nav, .nav-mobile {display: none;}.scroll-spy-nav {display: block;position: fixed;top: 0;left: 0;}.scroll-spy-nav .item {background-color: #fff;color: #000;padding: 8px 12px;border-bottom: 1px solid #000;}.scroll-spy-nav .item.active {background-color: #f00;color: #ffffff;}.scroll-spy-nav .item a {color: #000;}.section {width: 100%;height: 500px;}.section:nth-child(1) {background-color: #000;}.section:nth-child(2) {background-color: #333;}.section:nth-child(3) {background-color: #666;}.section:nth-child(4) {background-color: #999;}</style>
  </head>
  <body class="sub-body">
    <!-- S : Header -->
    <? include "../include/header.html" ?>
    <!-- E : Header -->

    <!-- S : Sub visual -->
    <? include "../include/sub_visual.html" ?>
    <!-- E : Sub visual -->

    <div class="scroll-spy-nav" data-track-nav="window">
      <a href="#list-item-1" class="item">section 1</a>
      <a href="#list-item-2" class="item">section 2</a>
      <a href="#list-item-3" class="item">section 3</a>
      <a href="#list-item-4" class="item">section 4</a>
    </div>

    <!-- S : Main -->
    <main class="main" data-track="scrTrack">
      <!-- S : Section -->
      <section class="section" id="list-item-1">
        <div class="container">adasdasd</div>
      </section>
      <!-- E : Section -->
      <!-- S : Section -->
      <section class="section" id="list-item-2">
        <div class="container" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top">adasdasd</div>
      </section>
      <!-- E : Section -->
      <!-- S : Section -->
      <section class="section" id="list-item-3">
        <div class="container">adasdasd</div>
      </section>
      <!-- E : Section -->
      <!-- S : Section -->
      <section class="section" id="list-item-4">
        <div class="container">adasdasd</div>
      </section>
      <!-- E : Section -->
    </main>
    <!-- E : Main -->

    <? include "../include/footer.html" ?>

    <? include "../include/js.html" ?>
  </body>
</html>