@charset "UTF-8";

@import "bootstrap";

@function rem($val) {
  @return ($val/16)*1rem;
}

@function em($val, $std:16) {
  @return ($val/$std)*1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: tint-color($primary, 20%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: tint-color($primary, 0);
}

html {
  font-size: 14px;
  
  @media screen and (min-width: 1025px) {
    font-size: 16px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: em(20) 0;
  z-index: 1;
}

.main {
  padding: rem(100) 0 rem(1000);
}

.section-title {
  font-size: rem(72);
  font-weight: 700;
  margin-bottom: em(32, 72);
  text-align: center;
  color: $secondary;
}

.portfolio {
  .item {
    position: sticky;
    top: 32px;
    transform-origin: top center;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(#000, 0.2);
    
    & + .item {
      margin-top: rem(64);
    }
    
    .title {
      color: #fff;
      font-size: em(24);
      font-weight: 700;
      text-align: center;
      margin-bottom: em(12,24);
    }
    
    .inner {
      display: block;
      transition: all .3s ease-in-out;
      background: {
        repeat: no-repeat;
        position: top center;
        size: 102% auto;
      };
      
      &::after {
        content: '';
        display: block;
        padding-bottom: percentage(1080/1920);
      }
    }
    
    &:hover {
      .inner {
        background-size: 105% auto;
      }
    }
    
    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        .inner {
          background-image: url(../images/prj_#{$i}.jpg);
        }
      }
    }
    
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        .inner {
          background-color: lighten(#000, $i*10);
        }
      }
    }
    
    .desc {
      background-color: #000;
      padding: rem(32);
      text-align: center;
      z-index: 1;
      
      @media screen and (min-width: 1025px) {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 3rem;
        background-color: rgba(#000, 0.7);
      }
    }
  
    .btn-group {
      .btn {
        padding: em(12) em(40);
        word-break: keep-all;
        
        &:first-child {
          border-radius: 2rem 0 0 2rem;
        }
        
        &:last-child {
          border-radius: 0 2rem 2rem 0;
        }
        
        @media screen and (min-width: 1024px) {
          padding-left: em(52);
          padding-right: em(52);
        }
      }
    }
  }
}

.footer {
  padding-top: em(100);
  padding-bottom: em(100);
  background-color: tint-color($primary, 60%);
}